extends layout.pug

mixin tweet(source, text, date)
    div.tweet
        div.source=source
        if text.match(/great/i)
            div.text.great=text
        else if text.match(/sad/i)
            div.text.sad=text
        else
            div.text=text
        div.date=date


block content
    each val in tweets
        +tweet(val.source, val.text, val.created_at)
